<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Mi App jQuery</title>
</head>
<body>
    <nav id="menu">
            <button class="nav-link" data-page="home.html">Inicio</button>
            <button class="nav-link" data-page="perfil.html">Perfil</button>
        
        <main id="content-area">
            <h1>Cargando...</h1>
        </main>
        
        <script src="../../node_modules/jquery/dist/jquery.min.js"></script>
    </nav>
    
    <main id="root">
        </main>

    <script type="module" src="../js/main.js"></script>
</body>
</html>